//
//  Simpsons.xcconfig
//  AWRealEstate
//
//  Created by aarthur on 4/26/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.sample.simpsonsviewer
SERVICE_URL = http://api.duckduckgo.com/?q=simpsons+characters&format=json
ENV_NAME = Simpsons
